:root {
  --main-color: #1f2c4d;
  --secondary-color: #6b7999;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
}

.central-container {
  margin: 0 auto;
  padding: 18px;

  @media (width >= 400px) {
    width: 80vw;
  }
}

.container-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90vw;
  border-color: #900;
  border-style: dashed;
}
.container-card {
  height: 502px;
  border-color: blue;
  border-style: dotted;
  margin-bottom: 20px;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title-section {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 40px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.header-navigation-link {
  height: 3.813rem;
  list-style: none;
}

.header-navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    flex: 1;
    border-right: 1px solid #e6e6e6;

    @media (width >= 700px) {
      gap: 10px;
    }
  }

  &:nth-child(2) {
    flex: 4;

    @media (width >= 700px) {
      gap: 10px;
      text-transform: uppercase;
      font-weight: 600;

      span {
        color: red;
      }
    }
  }

  &:nth-child(3) {
    flex: 1;
    border-left: 1px solid #e6e6e6;

    @media (width >= 700px) {
      gap: 10px;
    }
  }
}

.header-navigation-text {
  display: none;

  @media (width >= 700px) {
    display: inline;
  }
}
